.galerie {
    display: flex;
    gap: min(2vw, 10px);
    flex-wrap: wrap;
    justify-content: center;
       z-index: 1000;
}

.galerie__figure {
    flex: 1 1 220px;
    max-width: 100%;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: rotate(10deg);
    cursor: pointer;
}

.galerie__figure:nth-last-of-type(odd) {
    transform: rotate(-10deg);
}

.galerie__img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.galerie__figure:hover {
    transform: rotate(0deg) scale(1.05);
}

.galerie__figure:hover .galerie__img {
    transform: scale(1.05);
}
