/* sélecteurs qui cible le menu et la case à côcher */
#chk-burger{
    display: none; /* permet de rendre un élément invisible */
    position: fixed;
    top:70px;
    right: 20px;
}

.menu{
    display:block;
    padding : 10px;
    background-color: #00000098;
    width: 300px;
    position: fixed;
    top:70px;
    right: 20px;

    transform: translateX(110%);
    transition : transform 1s;

}

.menu__burger{
    position: fixed;
    top:20px;
    right: 20px;
}

.menu a {
    display : block;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:3px;
    margin:10px;
    color : #fff;
    /* background-color: #afd4ea17; */
    background: linear-gradient(to left, #afd4ea00 , #afd4ea56);
}
.menu a:hover{
    background: linear-gradient(to right, #afd4ea00 , #afd4ea56);
}


/* 
    Si la case à côcher est côcher selectionne le menu 
    et rendre le menu visible 
*/
#chk-burger:checked ~ .menu {
 /* permet de rendre un élément visible */
 transform: translateX(0);
}