#chk-burger {
    display: none;
    position: fixed;
    top: 4vw;
    right: 4vw;
}

.menu {
    display: block;
    padding: min(2vw, 10px);
    background-color: #00000098;
    width: min(80vw, 300px);
    position: fixed;
    top: 4vw;
    right: 2vw;
    transform: translateX(110%);
    transition: transform 0.5s ease;
       z-index: 1010;
}

.menu__burger {
    position: fixed;
    top: 2vw;
    right: 2vw;
    width: min(8vw, 40px);
    height: min(8vw, 40px);
}

.menu a {
    display: block;
    text-decoration: none;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: min(1vw, 3px);
    margin: min(2vw, 10px);
    color: #fff;
    background: linear-gradient(to left, #afd4ea00, #afd4ea56);
}

.menu a:hover {
    background: linear-gradient(to right, #afd4ea00, #afd4ea56);
}

#chk-burger:checked ~ .menu {
    transform: translateX(0);
}
